In [1]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
#!pip install of ibm_db_sa

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-2.0.16-cp39-cp39-win_amd64.whl (2.0 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.2-cp39-cp39-win_amd64.whl (192 kB)
Collecting typing-extensions>=4.2.0
  Using cached typing_extensions-4.6.3-py3-none-any.whl (31 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.6.3
    Uninstalling typing-extensions-4.6.3:
      Successfully uninstalled typing-extensions-4.6.3
  Attempting uninstall: greenlet
    Found existing installation: greenlet 2.0.2
    Uninstalling greenlet-2.0.2:
      Successfully uninstalled greenlet-2.0.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:

WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
    WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\users\\eedc\\anaconda\\lib\\site-packages\\clidriver\\bin\\amd64.VC12.CRT\\msvcr120.dll'
Consider using the `--user` option or check the permissions.

WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)

Found existing installation: SQLAlchemy 2.0.16
Uninstalling SQLAlchemy-2.0.16:
  Successfully uninstalled SQLAlchemy-2.0.16
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24

WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\eedc\anaconda\lib\site-packages)

In [2]:
import ibm_db
import ibm_db_sa
import sqlalchemy
from sqlalchemy import *
%load_ext sql
%reload_ext sql

In [3]:
# Db2 Service Credentials
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"          
dsn_hostname = "3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"           
dsn_port = "31498"                  
dsn_protocol = "TCPIP"        
dsn_uid = "lfp94968"                
dsn_pwd = "zU0Wh8VKm32LrH3p"                
dsn_security = "SSL"

In [4]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below

%sql ibm_db_sa://lfp94968:zU0Wh8VKm32LrH3p@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb?security=SSL

## Problem 1: Find the total number of crimes recorded in the CRIME table.

In [5]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[(533,)]

## Problem 2: List community areas with per capita income less than 11000.

In [6]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

## Problem 3: List all case numbers for crimes involving minors?

In [7]:
%sql SELECT DISTINCT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('HK238408',), ('HL266884',)]

## Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [8]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE PRIMARY_TYPE='KIDNAPPING';

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('HN144152', 'KIDNAPPING', datetime.date(2007, 1, 26), 'CHILD ABDUCTION/STRANGER')]

## Problem 5: What kind of crimes were recorded at schools?

In [9]:
%sql SELECT DISTINCT(PRIMARY_TYPE), LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS')]

## Problem 6: List the average safety score for all types of schools.

In [10]:
%sql SELECT ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL, AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL;

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

## Problem 7: List 5 community areas with highest % of households below poverty line.

In [11]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

## Problem 8: Which community area(number) is most crime prone?

In [12]:
%%sql
SELECT COMMUNITY_AREA_NUMBER ,COUNT(COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[(25, 43)]

## Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [13]:
%sql SELECT COMMUNITY_AREA_NAME FROM  CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('Riverdale',)]

## Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [14]:
%%sql
SELECT community_area_name FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)
LIMIT 1;

 * ibm_db_sa://lfp94968:***@3883e7e4-18f5-4afe-be8c-fa31c41761d2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31498/bludb
Done.

[('Austin',)]